* {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#title {
    margin-top: 1%;
    padding-bottom: 10px;
    text-align: center;
}

#signUpForm {
    text-align: center;
    button {
        margin-top: 10%;
    }
}

#footerPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90px;
}