* {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#title {
    margin-top: 1%;
    padding-bottom: 10px;
    text-align: center;
}

#footerPic {
    position: absolute;
    display: block;
    bottom: 10px;
    height: 90px;
    left: 47%
}