#signup {
    margin-left: auto;
    margin-right: auto;
}

#signupBtn {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#loadingBtn {
    margin-left: auto;
    margin-right: auto;
    display: none;
}

#creatingUser {
    margin-left: auto;
    margin-right: auto;
    display: none;
}