<!DOCTYPE html>
<html>

<head>
    <title>
        UnFriendly Chat
    </title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <!-- UNCOMMENT FOR DEBUGGING -->
    <!-- <link rel="stylesheet" href="../static/styles.css">
    <script src="../static/dashboard.js" charset="utf-8"></script> -->
</head>

<body>
    <h3>Hello, <span id="username">{{username}}</span></h3>

    <ul id="messages" class="chat"></ul>

    <div class="messageBar" id="help">

        <select name="theme" id="themeSelect" class="theme">
        <option value="basic">Basic</option>
        <option value="mustard">Mustard Pen</option>
        <option value="dark">Dark Mode</option>
        <option value="vibe">Vibe</option>
      </select>

        <div class="messageField" id="">
            <label for="message">Message: </label>
            <input type="text" id="message" name="message" autocomplete="off">
            <button id="sendMessage">Send</button>
        </div>
    </div>


</body>

</html>
