<script src="{{ url_for('static', filename='dashboard.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename = 'dashboard.css')}}"> {% extends "layout.html" %} {% block heading%} {{username}}'s Dashboard {% endblock %} {% block body%}
<div class="container">
    <div class="row">
        <!-- BEGIN PROFILE PIC  -->
        <div class="align-self-center col-6 col-md-4">
            <div id="profilePicSection">
                <img src="../static/DELETEMEBEFOREPUSHING.jpg" alt="Profile Picture" id="profilePic">
                <div class="text-body" id="changePic">Change Picture</div>
                <input type="file" id="profilePicUpload">
            </div>
        </div>
        <!-- END PROFILE PIC -->
        <div class="col-sm">
            <div id="personalInfo">
                <!-- BEGIN BIO -->
                <div id="bio" class="inputField">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Bio</span>
                        </div>
                        <textarea type="text" class="form-control" id="bioText" placeholder="Spare us the details"></textarea>
                        <small class="text-muted" id="bioHelp">In reality, nobody cares...</small>
                    </div>
                </div>
                <!-- END BIO -->
                <!-- BEGIN ANNOUCMENT -->
                <div id="annou" class="inputField">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Announcement</span>
                        </div>
                        <input type="text" class="form-control" id="announcement" placeholder="https://i.imgur.com/QASOJat.gif">
                        <small class="text-muted" id="annouHelp">This will be broadcasted when you join a chat room</small>
                    </div>
                </div>
                <!-- END ANNOUCMENT -->
                <!-- BEGIN URL-->
                <div id="url" class="inputField">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">URL</span>
                        </div>
                        <input type="text" class="form-control" id="urlText" placeholder="https://github/:(">
                        <small class="text-muted" id="urlHelp">Take us to your leader</small>
                    </div>
                </div>
                <!-- END URL -->
                <!-- BEGIN Location-->
                <div id="url" class="inputField">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Location</span>
                        </div>
                        <input type="text" class="form-control" id="locationText" placeholder="Ninth Circle of Hell">
                        <small class="text-muted" id="locationHelp">SWAT team inbound</small>
                    </div>
                </div>
                <!-- END Location -->
                <!-- BEGIN SAVE BUTTON -->
                <div id="submitDiv">
                    <button type="button" class="btn btn-outline-primary" id="saveBtn">Save Changes</button>
                </div>
                <!-- END SAVE BUTTON -->
            </div>
        </div>
    </div>
</div>
{% endblock %}