<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='userpage.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename = 'userpage.css')}}"> {% extends "layout.html" %} {% block heading%} {{user}}'s Page {% endblock %} {% block body%}
<div class="container">
    <div class="row">
        <!-- BEGIN PROFILE PIC  -->
        <div class="align-self-center col-6 col-md-4">
            <div id="profilePicSection">
                <img src="{{profilepic}}" alt="Profile Picture" id="profilePic">
            </div>
        </div>
        <!-- END PROFILE PIC -->
        <div class="col">
            <div class="row">
                <h5>{{bio}}</h5>

            </div>
            <div class="row">
                <h6>Location: {{location}}</h6>
            </div>
            <div class="row">
                <h6>URL:</h6>
                <a href="{{url}}">{{url}}</a>


            </div>
        </div>
        <div class="col">
            <!-- placeholder -->
        </div>
    </div>


</div>
{% endblock %}